.account {
  -webkit-app-region: no-drag;
  .tip-wrap {
    margin-bottom: 20px;
    .title {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .attention-wrap {
      margin-top: 10px;
      text-align: left;
      background-color: #fdf6ec;
      border-radius: 4px;
      padding: 10px;
      color: #e6a23c;
      .attention-title {
        font-size: 16px;
        font-weight: bold;
        margin-top: 0;
      }
      p {
        margin-top: 5px;
      }
    }
  }
  code {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 4px;
    min-height: 96px;
  }
  .form-wrap {
    .title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .seed-phrase-input {
      margin-bottom: 15px;
    }
    .button-wrap {
      position: relative;
      margin-top: 8px;
      margin-bottom: 10px;
      text-align: center;
    }
    .button-group {
      margin-bottom: 10px;
    }
    .back-button,
    .repeat-button {
      width: 150px;
    }
    .repeat-button {
      position: absolute;
      top: 0;
      right: 0;
    }
    .login-button,
    .confirm-button {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.mnemonic-container {
  margin-top: 10px;
  user-select: text;
}

.password-input {
  margin-top: 10px;
  margin-bottom: 10px; 
}
