@import "~sanitize.css";
@import "./_var.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  height: 100%;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
  font-size: 14px;
  color: #333;
  background-color: #f5f5f5;
  line-height: 1.5;
}

div, input, button, textarea, a {
  &:focus {
    outline: none;
  }
}

input[type="number"] {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.app-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  @include general-bg;
  vertical-align: baseline;

  &.icon-download {
    background-image: url('~@/assets/img/icon-download.png');
  }

  &.icon-get {
    background-image: url('~@/assets/img/icon-get.png');
    background-size: auto 14px;
    background-position: top center;
  }

  &.icon-share {
    background-image: url('~@/assets/img/icon-share.png');
    background-size: auto 14px;
    background-position: top center;
  }

  &.icon-upload {
    background-image: url('~@/assets/img/icon-upload.png');
  }

  &.icon-nav-file {
    background-image: url('~@/assets/img/nav-file.png');
  }

  &.icon-nav-upload {
    background-image: url('~@/assets/img/nav-upload.png');
  }

  &.icon-nav-download {
    background-image: url('~@/assets/img/nav-download.png');
  }

  &.icon-open {
    background-image: url('~@/assets/img/icon-open.png');
    background-size: auto 14px;
  }

  &.icon-play {
    background-image: url('~@/assets/img/icon-play.png');
  }

  &.icon-pause {
    background-image: url('~@/assets/img/icon-pause.png');
  }

  &.icon-close {
    background-image: url('~@/assets/img/icon-close.png');
  }
}

.el-menu-item.is-active {
  .icon-nav-file {
    background-image: url('~@/assets/img/nav-file_active.png');
  }

  .icon-nav-upload {
    background-image: url('~@/assets/img/nav-upload_active.png');
  }

  .icon-nav-download {
    background-image: url('~@/assets/img/nav-download_active.png');
  }
}

.el-button--primary:not(.is-plain) {
  .icon-download {
    background-image: url('~@/assets/img/icon-download_active.png');
  }

  .icon-get {
    background-image: url('~@/assets/img/icon-get_active.png');
  }

  .icon-share {
    background-image: url('~@/assets/img/icon-share_active.png');
  }

  .icon-upload {
    background-image: url('~@/assets/img/icon-upload_active.png');
  }
}

$file-types: "ppt",
  "xls",
  "doc",
  "zip",
  "audio",
  "video",
  "pdf",
  "image",
  "plain";
.file-icon {
  display: inline-block;
  border-radius: 8px;
  background-image: url(~@/assets/img/file.png);
  @include general-bg;
  overflow: hidden;

  @each $type in $file-types {
    &.file-icon_#{$type} {
      background-image: url('~@/assets/img/file_#{$type}.png');
    }
  }
}
