$title-height: 24px;
$primary-color: #1989FA;
$text-color: #333;
$sidebar-color: #243243;
$succ-color: #67c23a;
$fail-color: #f56c6c;

@mixin general-bg {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
